
@{
    ViewBag.Title = "Index";
}

<div>
    <p>
        @ViewBag.HelloWorld
    </p>
<i>
<pre style="color:lightgreen; background:#444444; font-family:Tahoma">
For Admin privileges, log in as:
User Name: admin
Password: Asdfjkl;1

Admin can access create, edit and delete pages from Members Table page.
</pre>
</i>    
</div>

