<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms" >
      <forms name=".ASPXAUTH"
        loginUrl="Login.aspx"
        protection="All"
        timeout="30"
        path="/"
        requireSSL="false"
        slidingExpiration="true"
        cookieless="UseDeviceProfile" />
    </authentication>
    <roleManager enabled="true"
                defaultProvider="CustomizedRoleProvider">
      <providers>
        <add name="CustomizedRoleProvider"
              type="System.Web.Security.SqlRoleProvider"
              connectionStringName="ConnectionString" />
      </providers>
    </roleManager>

    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <add name="CustomizedMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="ConnectionString"
             requiresUniqueEmail="false"
             requiresQuestionAndAnswer="false"/>
      </providers>
    </membership>
    <anonymousIdentification enabled="true"/>
    <profile>
      <properties>
        <add allowAnonymous="true" name="NameTest" type="System.String" serializeAs="Xml"/>
        <add allowAnonymous="true" name="ProfileTest" type="HimesP3.ProfileTest" serializeAs="Binary"/>
      </properties>
    </profile>
    <siteMap defaultProvider="secureProvider">
      <providers>
        <add name="secureProvider" type="System.Web.XmlSiteMapProvider"
             siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode"
         value="None"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="OraAspNetConString" connectionString=" " />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
