@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This forum was designed for use by anyone interested in posting a thread about
    absolutely anything in the world. However, exercise caution! The Orange Team is in
    control and we may decide to remove your thread or post if we find it offensive.</p>
