@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Alan Himes:</strong>   <a href="mailto:ahimes1@cnm.edu">ahimes1@cnm.edu</a><br />
    <strong>William Hoobler:</strong> <a href="mailto:whoobler@cnm.edu">whoobler@cnm.edu</a> <br/>
    <strong>Shane Kennard:</strong> <a href="mailto:shanek507@gmail.com">shanek507@gmail.com</a> <br/>
    <strong>Dana Frost:</strong> <a href="mailto:danafrost87@gmail.com">danafrost87@gmail.com</a>


</address>